@model MVC5BoostrapDRAdminV4.TBL_EmployeeDetails

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamLeaderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLeaderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftPartnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftPartnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_Gender.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_Gender.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_OfficeLocation.OfficeLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_OfficeLocation.OfficeLocation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <i class="glyphicon glyphicon-floppy-remove"> </i>&nbsp;&nbsp; Delete
            </button> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
