@model MVC5BoostrapDRAdminV4.TBL_EmployeeLogin

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee Login</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EmpID, "Employee", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmpID", "Select Employee ")
                @Html.ValidationMessageFor(model => model.EmpID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @Value = "123stpl" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Type", new List<SelectListItem>
                {
                   new SelectListItem { Text = "TL", Value = "TL" },
                   new SelectListItem { Text = "GEN", Value = "GEN" }

                },"Select User Type")
                    @*@Html.EditorFor(model => model.Type, new { @placeholder = "TL or GEN" })*@

                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        //alert('t');
        $('#Password').attr('value', '123stpl');
        $('#Type').attr('value', 'GEN');

        //alert('td');

    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
